<h2>Create New Department</h2>
<form [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formArrayName="id">
<!--        <mat-form-field>-->
<!--          <input #departmentId formControlName="departmentId" matInput placeholder="Department Id">-->
<!--        </mat-form-field>-->
        <mat-form-field>
          <mat-select #departmentId formControlName="departmentId" placeholder="Department Id">
            <mat-option>None</mat-option>
            <ng-container>
              <mat-option *ngFor="let department of departments" [value]="department.id">{{department.departmentId}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <div class="add-bottom-padding">
          <button mat-raised-button color="warn" type="submit"
                  [disabled]="service.form.invalid"
                  (click)="add(departmentId.value)"
          >Add</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
