<h2>Create New Department</h2>
<form [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formArrayName="id">
        <mat-form-field>
          <input #firstName formControlName="firstName" matInput placeholder="First Name*">
          <mat-error *ngIf="service.form.controls['firstName'].errors?.required">This field is mandatory</mat-error>
        </mat-form-field>

        <div class="add-bottom-padding">
          <button mat-raised-button color="warn" type="submit"
                  [disabled]="service.form.invalid"
                  (click)="add(firstName.value)"
          >Add</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
