<h2>Create New Department</h2>
<form [formGroup]="form" (ngSubmit)="add(name.value)" class="normal-form">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formArrayName="id">
        <mat-form-field>
          <input #name formControlName="name" matInput placeholder="Name">
          <mat-error>Name is mandatory</mat-error>
        </mat-form-field>

        <div class="add-bottom-padding">
          <button mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Add</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
