<h2>Current Department</h2>

<mat-card *ngIf="departments">
  <div>
    <h3>Id: {{ departments.id }}</h3>
  </div>
  <div>
    <label>Name: </label>{{ departments.name }}</div>

  <button
    class="example-button-item"
    mat-flat-button color="warn"
    (click)="delete(departments.id)">
    <mat-icon>delete</mat-icon> Remove
  </button>
  <button class="example-button-item" mat-flat-button color="accent"
  (click)="update()">
    <mat-icon>update</mat-icon> Update
  </button>

</mat-card>

<h2>Full Name for employee</h2>
<div class="container">
  <ul class="department__employee-item">
    <li *ngIf="employees">
      <a routerLink="/employee/{{employees.id}}">
        <span>Full Name:</span> {{employees.firstName}} {{employees.lastName}}
        <span>Email:</span> {{employees.email}}
        <span>Department Id:</span> {{employees.departmentId}}
      </a>
    </li>
  </ul>
</div>

<div class="btn__employee" *ngIf="employees">
  <button class="btn-item__employee" mat-raised-button color="primary"
          (click)="getEmployeeDepartment(employees)">All Employees</button>
</div>
