<h2>Create New Employee</h2>
<form [formGroup]="form" (ngSubmit)="add(firstName.value, lastName.value, email.value, departmentId.value)" class="normal-form">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formArrayName="id">
        <mat-form-field>
          <input #firstName formControlName="firstName" matInput placeholder="First Name*">
          <mat-error>First Name is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input #lastName formControlName="lastName" matInput placeholder="Last Name*">
          <mat-error>Last Name is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input #email formControlName="email" matInput placeholder="Email*">
          <mat-error>Email is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select #departmentId formControlName="departmentId" placeholder="Department Id">
            <mat-option>None</mat-option>
            <ng-container>
              <mat-option *ngFor="let department of departments" [value]="department.id">{{department.id}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <div class="add-bottom-padding">
          <button mat-raised-button color="warn" type="submit" [disabled]="!form.valid">Add</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
