<h1>Employees</h1>
<p>click position on the table</p>
<table mat-table [dataSource]="employees">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let employees">
      <a [routerLink]="['/employee', employees.id]">
        {{employees.id}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let employees">{{employees.firstName}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let employees">{{employees.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let employees">{{employees.email}}</td>
  </ng-container>

  <ng-container matColumnDef="departmentId">
    <th mat-header-cell *matHeaderCellDef>Department Id</th>
    <td mat-cell *matCellDef="let employees">{{employees.departmentId}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p>click Add button for add new employee</p>

<div class="example-button-item">
  <button routerLink="/employee-new" class="example-button-item" mat-flat-button color="accent"  routerLinkActive="active">
    <mat-icon>add</mat-icon> Add
  </button>
</div>

